@tailwind base;

body {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}

h1,
.h1 {
  @apply text-3xl font-display;
}
h2,
.h2 {
  @apply text-2xl font-display font-semibold;
}
h3,
.h3 {
  @apply text-xl font-display font-extrabold;
}
h4,
.h4 {
  @apply text-xl font-display font-semibold;
}
h5,
.h5 {
  @apply text-lg font-display font-semibold;
}
h6,
.h6 {
  @apply text-lg font-display;
}

a {
  @apply underline;
}
a.no-underline {
  @apply no-underline;
}

.noBtn {
  box-shadow: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;

  /* extra app specific styling */
  display: flex;
  align-items: center;
  width: 100%;
}

@tailwind components;

@tailwind utilities;

.staffing-item {
  height: 28px !important;
  line-height: 28px !important;
}

.staffing-item-lg {
  height: 40px !important;
  line-height: 40px !important;
}

input:disabled {
  color: theme("colors.tandemDarkGray");
}

.navItem {
  position: relative;
}

.navItem:hover:after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  left: theme("spacing.-4");
  right: theme("spacing.-4");
  top: 50%;
  background: theme("colors.yearningYellow");
  transform: translateY(-50%);
  z-index: -1;
}

.loginPage:before {
  content: "";
  width: 323px;
  height: 323px;
  background-image: url("data:image/svg+xml,%3Csvg width='7px' height='7px' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='1.' fill='%23ecae9e' %3E%3C/circle%3E%3C/svg%3E");
  background-position: center center;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 170px;
  z-index: 5;
}

.loginPage:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 60px;
  right: -71px;
  background: theme("colors.talentedTan");
  border-radius: 50%;
  width: 403px;
  height: 403px;
}
