body {
  padding: 1rem;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

button {
  font-size: 1rem;
}

.noBtn {
  box-shadow: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
}

ul {
  list-style: none;
}

.rct-header-root {
  background-color: #f0f0f0 !important;
  border: 1px solid #bbb !important;
  border-bottom: none !important;
}

.rct-calendar-header {
  border-top: none !important;
}

.rct-calendar-header div:last-child .rct-dateHeader {
  border-bottom: none !important;
}

.react-calendar-timeline .rct-dateHeader-primary {
  color: #000;
}

.rct-dateHeader {
  border-left: 1px solid #bbb !important;
}

.staffing-item-lg {
  height: 40px !important;
  line-height: 40px !important;
}
